meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Fase 3 Metodología OVOP
meta(meta name="description" content="Este componente formativo corresponde a la fase 3 de la Metodología OVOP y abarca dos guías metodológicas: Guía No 5 Fortalecimiento de líderes OVOP y Guía No 6 Elaboración del Plan de Acción Comunitario. Estas guías constituyen un paso fundamental en la ruta metodológica de la estrategia de desarrollo local OVOP – Colombia y tiene por objetivo, en primer lugar, generar un cambio positivo en las comunidades, promoviendo una visión territorial que se basa en procesos de autogestión y creatividad, pensando globalmente, actuando localmente y desarrollando los recursos humanos.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")