h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 220201007-01 - Apropiar herramientas metodológicas para el desarrollo local, a partir de la estrategia Mi Pueblo, Mi Producto, Mi Orgullo-OVOP Colombia.