.container#guia1

    .header-ecored

        h1 1. Guía para la ideación de Producto
        
    .card

        img.img-fluid(src="assets/images/pages/img1.png", style="max-width: 100%")

        .card-body.recuadro2

            .card-text

                .row.mx-0.mt-3

                    .col-12.px-0

                        p Por este motivo, esta guía se enfocará en los siguientes temas:

                        br

                        ol
                            li.mb-3 Confirmar el concepto de OVOP Colombia retomando los tres principios y el enfoque de participación comunitaria,
                            li.mb-3 Conocer las características de los líderes de OVOP Colombia y el concepto de liderazgo colectivo,
                            li.mb-3 Elaborar el proyecto hacia el sueño colectivo,
                            li.mb-3 Fortalecer nuestro orgullo y confianza y,
                            li.mb-3 Construir una buena práctica para el desarrollo comunitario incluyente.

                        p Estos temas se han seleccionado como resultado de los talleres de capacitación de los líderes durante el Proyecto de OVOP Colombia.

                    .col-12.text-center.mt-4

                        img.img-fluid(src="assets/images/pages/img2.png", style="max-width: 80%")

    #objetivos1

    .subtitulo-guion

        h2 Objetivos de la guía

    .jumbotron.bg-white

        .row

            .col-12

                h3.texto1 General

                p OVOP es diferente a la estrategia de desarrollo comunitario convencional, la cual usualmente se implementa con la ayuda planificada por el gobierno sin involucrar a la comunidad. El enfoque de OVOP es en sentido contrario, ya que es desde abajo hacia arriba y se enfatiza la participación a nivel comunitario.

                br

                p En OVOP, los miembros de cada territorio se convierten en actores para generar el cambio positivo en su comunidad, promoviendo una visión territorial basada en procesos de autogestión y creatividad, pensando globalmente, actuando localmente y desarrollando los recursos humanos.

                br

                p En este sentido, es importante que los líderes tengan un mejor entendimiento sobre OVOP para que su contribución sea efectiva y genere avances en la comunidad.

                br

                p Por tal motivo, esta guía tiene por objetivo: Orientar a los instructores de OVOP Colombia y transferir el conocimiento a la comunidad, para que fortalezcan las competencias de los líderes comunitarios y estos a su vez, puedan convertirse en líderes de OVOP Colombia asumiendo la labor de promover el desarrollo comunitario.

    #preparacion

    .subtitulo-guion

        h2 Preparación
        
    .card

        img.img-fluid(src="assets/images/pages/img3.png", style="max-width: 100%")

        .card-body.recuadro2

            .card-text

                .row.mx-0.align-items-center
                
                    .col-auto.text-center.recuadro3

                        p 1.1
                    
                    .col-10

                        p.texto2 Módulos

                .row.mx-0.mt-3

                    .col-12.px-0

                        p Esta guía consta de cinco módulos para orientar a los instructores de OVOP Colombia y transferir el conocimiento a las nuevas comunidades que desean iniciar OVOP Colombia en su territorio. Se recomienda comenzar desde el módulo 1; no obstante, lo anterior se podrá aplicar a uno o varios módulos dependiendo de las necesidades de la comunidad.
                
                .row.justify-content-center.mt-4

                    .col-8

                        table.table.table-bordered.table-striped
                            tbody
                                tr
                                    td.table1
                                        b Módulo
                                    td.table1
                                        b Contenido
                                tr
                                    td.table2
                                        b 1
                                    td.table2 Generalidades de OVOP
                                tr
                                    td.table3
                                        b 2
                                    td.table3 Liderazgo colectivo
                                tr
                                    td.table2
                                        b 3
                                    td.table2 Herramientas para fortalecer orgullo y confianza
                                tr
                                    td.table3
                                        b 4
                                    td.table3 Planificación participativa para el sueño comunitario
                                tr
                                    td.table2
                                        b 5
                                    td.table2 Construcción de buenas prácticas
                            
                    .col-8.mt-2

                        table.table.table-bordered.table-striped
                            tbody
                                tr
                                    td.table1
                                        b Parte
                                    td.table1
                                        b Contenido
                                    td.table1
                                        b Tiempo
                                tr
                                    td.table2
                                        b 1
                                    td.table2 Concepto clave
                                    td.table2 20 minutos
                                tr
                                    td.table3
                                        b 2
                                    td.table3 Práctica
                                    td.table3 1 hora
                                tr
                                    td.table2
                                        b 3
                                    td.table2 Estudio de caso
                                    td.table2 20 minutos
                                tr
                                    td.table3
                                        b 4
                                    td.table3 Evaluación
                                    td.table3 20 minutos

    .card

        img.img-fluid(src="assets/images/pages/img4.png", style="max-width: 100%")

        .card-body.recuadro2

            .card-text

                .row.mx-0.align-items-center
                
                    .col-auto.text-center.recuadro3

                        p 1.2
                    
                    .col-10

                        p.texto2 Participantes

                .row.mx-0.mt-3

                    .col-12.px-0

                        p El facilitador de OVOP Colombia invita al grupo base con los líderes comunitarios. Es ideal invitar a los líderes de un mismo municipio, pero se pueden mezclar invitados de varios municipios también.

                        br

                        p El facilitador de OVOP Colombia debe tener en cuenta el balance de invitados por género, la diversificación de los sectores e incluir los grupos vulnerables; todo depende de las características de la comunidad.

                        br

                        p Todos los módulos se realizarán de forma participativa; es recomendable invitar un número de personas que sea adecuado para trabajar, se sugiere una cantidad máxima de 20 personas por taller.
    
    .card

        img.img-fluid(src="assets/images/pages/img5.png", style="max-width: 100%")

        .card-body.recuadro2

            .card-text

                .row.mx-0.align-items-center
                
                    .col-auto.text-center.recuadro3

                        p 1.3
                    
                    .col-10

                        p.texto2 Logística

                .row.mx-0.mt-3

                    .col-12.px-0

                        p El salón debe tener: capacidad para trabajar con más de 20 personas, mobiliario (sillas, pupitres, mesas), pizarra, marcadores/colores, lápices, cinta de enmascarar, papelógrafos para escribir y colocar en la pared, proyector de vídeo, etc.

    #modulos

    .subtitulo-guion

        h2 Los módulos
        
    .card

        img.img-fluid(src="assets/images/pages/img6.png", style="max-width: 100%")

        .card-body

            .card-text

                .row.mx-0.align-items-center
                
                    .col-auto.text-center.recuadro3

                        p 2.1
                    
                    .col-10

                        p.texto2 Módulo 1: Generalidades de OVOP

                .row.mx-0.mt-3

                    .col-12.px-0

                        p
                            b Parte I: Conceptos claves

                        br

                        p En la parte I, el facilitador de OVOP Colombia presentará el concepto básico de OVOP, para orientar a los líderes de la comunidad, por lo cual se recomienda que los facilitadores estudien previamente el concepto básico de OVOP junto con el documento estratégico y otros materiales.

                        br

                        p A continuación, se confirma el concepto básico de OVOP (Fuente: “Documento Estratégico de Desarrollo Local Incluyente OVOP Colombia”).


                .row.justify-content-center.mt-4

                    .col-8

                        table.table.table-bordered.table-striped
                            tbody
                                tr
                                    td.table1
                                        b Materiales OVOP
                                tr
                                    td.table2 Documento Estratégico de Desarrollo Local Incluyente OVOP Colombia
                                tr
                                    td.table3 Brochure “Mi Pueblo, Mi Producto, Mi Orgullo
                                tr
                                    td.table2 Manual de participación y desarrollo comunitario
                                tr
                                    td.table3 Servicio Nacional de Aprendizaje SENA

                .row.mx-0

                    .col-12

                        p
                            b ¿Qué es OVOP?
                    
                    .col-12.mt-3

                        p El movimiento OVOP (One Village, One Product) corresponde a una estrategia de desarrollo local que surgió en la década de los 60 en la Prefectura de Oita – ubicada en la parte sur del Japón –. En Colombia, esta estrategia se inició en el año 2010.

        .row

            .col-12

                img.img-fluid(src="assets/images/pages/img7.png", style="max-width: 100%")
        
        .row.recuadro1

            .col-12

                p OVOP, es una estrategia de desarrollo local alternativo, que busca el mejoramiento de la competitividad y el aumento de la participación, mediante el despertar del orgullo, el amor y la identidad de las comunidades por su territorio y sus productos.

                br

                p En este sentido, OVOP parte de la premisa que cada territorio o cada localidad, cuenta con multiplicidad de recursos que pueden ser tangibles o intangibles (fiestas, eventos, arquitectura, paisajes, entre otros.), los cuales pueden convertirse en productos con mucho potencial y con impacto global, permitiendo consolidar su territorio como único.

                br

                p
                    b Tres principios de OVOP

                br

                p OVOP desde sus inicios ha fundamentado su acción en tres principios:

                br

                ol
                    li.mb-3 Desarrollo de recursos humanos,
                    li.mb-3 Origen local e impacto global y,
                    li Autogestión y creatividad.

                br

                p Con ellos, pretende empoderar gradualmente a las comunidades de tal manera que transformen su realidad, convirtiéndolos en actores de su propio desarrollo.

            .col-12.px-0.mt-5

                .row

                    .col-2

                        img.img-fluid(src="assets/images/pages/img1.svg", style="max-width: 100%")

                    .col-10

                        p.texto4
                            b Desarrollo de recursos humanos
                        
                        p Formación y cualificación del recurso humano para la gestión del desarrollo local, lo cual implica que las comunidades desarrollen competencias en su saber, saber hacer y saber ser, que permitan el aprovechamiento de los recursos existentes y del capital humano de su territorio.
                    
            .col-12.px-0.mt-5

                .row

                    .col-2

                        img.img-fluid(src="assets/images/pages/img2.svg", style="max-width: 100%")

                    .col-10

                        p.texto4
                            b Origen local e impacto global
                        
                        p Productos identificados a las comunidades locales, que se caracterizan por ser propios de una determinada zona y por sus características se diferencia de otros en diversas zonas del país. Los productos pueden ser tangibles o intangibles.
                    
            .col-12.px-0.mt-5

                .row

                    .col-2

                        img.img-fluid(src="assets/images/pages/img3.svg", style="max-width: 100%")

                    .col-10

                        p.texto4
                            b Autogestión y creatividad
                        
                        p Iniciativa de las propias comunidades que utilizan de manera sostenible los recursos propios (naturales, económicos, sociales, culturales) para desarrollar productos que se distinguen por ser el fruto de la imaginación, creatividad y habilidad de las personas que habitan una determinada zona o comunidad en el territorio del país.
            
            .col-12.mt-3

                p Basados en estos tres principios, los actores de los diferentes grupos desarrollan las capacidades necesarias para mejorar la competitividad de los productos de OVOP y promueven el desarrollo comunitario de su territorio.

            .col-12.text-center

                img.img-fluid(src="assets/images/pages/img8.png", style="max-width: 100%")
        
        .row.mx-0

            .col-12.recuadro4

                p
                    b El eslogan de OVOP

                p Es momento de conocer el eslogan de OVOP, sobre el cual se ha creado “Mi Pueblo, Mi Producto, Mi Orgullo” como el eslogan de OVOP Colombia.

            .col-12.my-4.text-center

                img.img-fluid(src="assets/images/pages/img9.png", style="max-width: 100%")
        
        .row.mx-0

            .col-12

                p
                    b Enfoque de la participación comunitaria en OVOP

                ol
                    li.mb-3 OVOP busca la participación comunitaria incluyente en relación con los recursos locales, que se sienta orgullo y se genere conciencia sobre la importancia de la construcción colectiva de una visión (sueño colectivo).
                    li.mb-3 En los procesos de desarrollo comunitario, OVOP pone énfasis en la mayor inclusión de la población comunitaria, tal como: las mujeres, los jóvenes, adultos mayores y personas en condición de discapacidad, indígenas, grupos étnicos, víctimas del conflicto, excombatientes, entre otros.
                    li.mb-3 A partir de los procesos de participación comunitaria, se espera que en la comunidad se genere corresponsabilidad, proactividad y lazos de confianza, tanto a nivel interno como externo de su territorio; es decir, con las instituciones públicas o privadas, identificándolas como aliadas estratégicas en sus procesos de desarrollo.
                    li Articulación efectiva de la oferta y la demanda, OVOP le apuesta a generar o fortalecer redes al interior de la comunidad y fuera de ella, que permitan una articulación efectiva entre la oferta y la demanda local existente en su territorio, de forma tal que den paso a revitalizar el territorio.
                
                p
                    b Parte II: Taller práctico

                p En la parte II, se va a realizar el taller que tiene el objetivo de profundizar en el entendimiento del concepto básico de OVOP. Para ello:

            .col-12.col-md-6

                ol
                    li.mb-3 Los participantes se dividirán en dos grupos (del mismo municipio o mixto). Cada participante, iniciará dibujando un bien o producto (arquitectura, fiesta, naturaleza, etc.) que se encuentra en su comunidad y que lo haga sentirse orgulloso o especial. (10 minutos).
                    li.mb-3 Una vez lo hayan dibujado en la hoja, los integrantes expondrán su dibujo a los otros participantes en el mismo grupo, explicando por qué sienten orgullo o consideran especial ese bien o producto. (20 minutos).
                    li.mb-3 Posteriormente, cada grupo escogerá el bien o producto que les haya parecido más impactante. Una vez que lo hayan escogido, se le pedirá a cada grupo que dinamice o promueva el producto a partir del aumento de la participación e inclusión social y competitividad. (15 minutos).
                    li Cada grupo compartirá o socializará su producto. (15 minutos).


            .col-12.col-md-6

                .header-arrow.arrow1
                    
                    p ¡Ha llegado la hora del taller! Recuerde que al igual que los talleres de los anteriores módulos, este es un espacio necesario para conocer el paso a paso al momento de abordar una comunidad, con el objetivo de profundizar en el entendimiento del concepto básico de OVOP. Además, aportará a la consolidación de la propuesta final de este proceso de formación.

                .row

                    .col-12.text-center.mt-4

                        img(src="assets/images/pages/img4.svg")

        .row.justify-content-center.mt-4

                    .col-8

                        table.table.table-bordered.table-striped
                            tbody
                                tr
                                    td(colspan='2').table1
                                        b Nombre del producto o servicio
                                        br
                                        b Ejemplo: Festival del Algodón

                                tr
                                    td.table2.text-center
                                        img.img-fluid(src="assets/images/pages/img5.svg", style="max-width: 100%")
                                    td.table2
                                        ol
                                            li Grupo de participantes (jóvenes)
                                            li Grupo de participantes (campesinos)
                                            li Grupo de participantes (mujeres)

        .row.mx-0

            .col-12

                p
                    b Parte III: Estudio de caso
                
                p En la parte III, se mostrará el video producido por el DNP “Estrategia alternativa para el desarrollo local incluyente” y el video IRODORI (Decoración Colorida). IRODORI tiene por objetivo hacer un acercamiento a Kamikatsu, un municipio del departamento de Tokushima, Japón. En el video se muestra su proceso de recuperación: de la pobreza al desarrollo comunitario, a través del aprovechamiento de las hojas de los árboles.

                p Es importante que observe los videos:
        
        .row.mx-0.align-items-center

            .col-6

                section.centro
                    a(href="media/documentos/MC_Video_Estrategia_alternativa_para_el_desarrollo_local_incluyente.mp4" target="_blank").media-link
                        img(src="assets/images/pages/icon_www4.svg", alt="").media-link-icon
                        .media-link-title
                            p
                                b Video.
                            p Estrategia alternativa para el desarrollo local incluyente

                section.mt-4.centro
                    a(href="media/documentos/MC_Video_IRODORI.mp4" target="_blank").media-link
                        img(src="assets/images/pages/icon_www4.svg", alt="").media-link-icon
                        .media-link-title
                            p
                                b Video.
                            p IRODORI

            .col-6.text-center

                img.img-fluid(src="assets/images/pages/img6.svg", style="max-width: 100%")
        
        .row.mx-0.mt-4.recuadro2

            .col-12.col-md-6

                p
                    b Parte IV: Retroalimentación

                p En este espacio los participantes realizarán primero una reflexión y después trabajarán el formato de evaluación.

                p Se supone que el nivel de comprensión de los participantes podría ser variado, dependiendo de la dinámica del municipio (considerando el nivel de educación y la experiencia de la comunidad). Los facilitadores deben reflejar el resultado de la evaluación y hacer ajustes para mejorar el contenido expresado.

            .col-12.col-md-6.my-4

                .header-arrow.arrow1

                    .col-12.mb-3

                        p Los invito a reflexionar haciendo una autoevaluación, con el “formato evaluación del módulo 1”, el cual se encuentra en los materiales complementarios asociados a este componente formativo:
                    
                    .col-12

                        section
                            a(href="media/documentos/MC_Formato_evaluacion_modulo_1.pdf" target="_blank").media-link
                                img(src="assets/images/pages/icon_www2.svg", alt="").media-link-icon
                                .media-link-title
                                    p
                                        b Anexo 1.
                                    p formato evaluación del módulo 1

                .row

                    .col-12.text-center.mt-4

                        img(src="assets/images/pages/img7.svg")
        
    .card

        img.img-fluid(src="assets/images/pages/img10.png", style="max-width: 100%")

        .card-body.recuadro2

            .card-text

                .row.mx-0.align-items-center
                
                    .col-auto.text-center.recuadro3

                        p 2.2
                    
                    .col-10

                        p.texto2 Módulo 2: Liderazgos colectivos

                .row.mx-0.mt-3

                    .col-12.px-0

                        p
                            b Parte I: Concepto clave
                        
                        br

                        p En el módulo 2, se abordará el concepto de “liderazgos colectivos” que es clave para lograr el mayor avance en el desarrollo comunitario.

                        br

                        p
                            b ¿Qué significa “liderazgos colectivos”?
                        
                        br

                        p En el proceso del desarrollo comunitario, se encuentra uno o varios líderes, que tienen cierta influencia en el territorio.

                        br

                        p La estrategia OVOP Colombia, se enfoca en que varios líderes tomen el liderazgo de diversas formas, para mover la comunidad hacia una visión acordada conjuntamente, en 
                            b liderazgo colectivo
                            | .
                        
                        br

                        p En el liderazgo colectivo se gestionará la diversidad de la comunidad y se dará prioridad a la influencia positiva para el territorio. No se debe obligar a la comunidad a actuar. Los líderes deben fomentar la capacidad personal, para que se generen sinergias entre los líderes en el proceso de colaboración conjunta; esto también ayudará a generar la inclusión social.

                        br

                        p
                            b ¿Cuáles de estas frases son mitos sobre el liderazgo?

                        img.img-fluid.my-4(src="assets/images/pages/img11.png", style="max-width: 100%")

                        ul
                            li.mb-3
                                b Entienden y creen en OVOP: 
                                | aunque una persona sea carismática, si no cree en la metodología, difícilmente podrá ser líder de esta.
                            li.mb-3
                                b Creen y amplían la visión de sus comunidades: 
                                | permiten que sus comunidades visualicen sus posibilidades personales y colectivas en el territorio.
                            li.mb-3
                                b Conocen de su propia comunidad: 
                                | OVOP no es únicamente para mejorar los productos o servicios de la comunidad, es desarrollo incluyente.

                                p El conocimiento de las personas de su propio territorio es fundamental para lograrlo.

                            li
                                b Actúan por sí mismos: 
                                | buscan apoyo para fortalecer el conocimiento en la comunidad y aumentan las actividades tales como ferias, eventos y charlas para estudiantes.
                        
                        p En la implementación del Proyecto OVOP Colombia, se ha analizado a los líderes que han contribuido al desarrollo comunitario y se han identificado tres tipos de líderes: 

                        br

                        ul
                            li.mb-3 líder comunitario.
                            li.mb-3 líder empresarial.
                            li líder institucional.
                        
                        p En la experiencia del Proyecto de OVOP Colombia, se han observado dificultades para generar buenos resultados con solo un líder. En cambio, contando con varios líderes de diferentes tipos, colaborando con los miembros de la comunidad y las entidades públicas generando sinergias, hay mayor probabilidad de lograr el objetivo de manera efectiva. Los tipos de líderes que pueden contribuir al desarrollo local son los siguientes:

                        img.img-fluid.my-4.text-center(src="assets/images/pages/img12.png", style="max-width: 100%")

                        p ¿Cómo avanzar del liderazgo personal al liderazgo colectivo?

                        br

                        p Los líderes de diferentes tipos funcionan generando sinergia colaborando juntos para lograr su objetivo.

                    .col-12.text-center

                        img.img-fluid.my-4(src="assets/images/pages/img22.svg", style="max-width: 50%")
                    
                    .col-12

                        p Construcción del liderazgo colectivo para promover el desarrollo comunitario OVOP Colombia.

                        br

                        p A continuación, se observan los tres grupos de actividades que cada líder debe realizar para construir liderazgo colectivo OVOP Colombia:

                        img.img-fluid.my-4.text-center(src="assets/images/pages/img14.png", style="max-width: 100%")

                        p
                            b Parte II: Taller práctico “Caso de municipio Peor Es Nada”
                        
                        br

                        p En la parte II, se va a realizar el taller que presenta la comprensión del papel de líder OVOP y el funcionamiento de los liderazgos colectivos.

                        br

                        p Los participantes conformarán varios grupos, por municipios o mixtos, dependiendo de la cantidad de representantes. Los participantes leen el caso siguiente: “Caso de municipio Peor Es Nada”. (10 minutos).
                    
                    .col-12.text-center

                        img.img-fluid.my-4(src="assets/images/pages/img8.svg", style="max-width: 100%")
                    
                    .col-12

                        p Cada participante se identifica con el tipo de líder con el que se sienta cómodo y escribe su nombre en el formato siguiente. Después, cada grupo de liderazgo determina tres estrategias para solucionar el problema. (20 minutos).

                        br

                        p
                            b Nota: 
                            | a veces, los participantes no saben qué tipo de líderes podrían ser. En este caso, los facilitadores deben motivar a los participantes para que seleccionen aquel tipo con el cual se sientan naturalmente cómodos.

                        br

                        p Cuando un participante se identifica con dos perfiles, debe elegir uno. En caso de no haber sido elegido alguno de los tres perfiles, uno de los participantes debe desarrollar este rol.

                        br

                        p En este taller, es normal que, en cada grupo de líderes, no resulte el mismo número de personas. (Por ejemplo: podría haber más personas que se identifiquen como líderes empresariales, y menos como líderes comunitarios).
                    
                    .col-12.text-center

                        img.img-fluid.my-4(src="assets/images/pages/img15.png", style="max-width: 100%")
                    
                    .col-12

                        p Teniendo en cuenta los resultados anteriores, se discutirá quién asumirá la responsabilidad de cada estrategia a aplicar, las personas o los grupos de la comunidad o las entidades públicas y se asignará los recursos y el tiempo para trabajar. (15 minutos).

                    .col-12.text-center

                        img.img-fluid.my-4(src="assets/images/pages/img16.png", style="max-width: 100%")
                    
                    .col-12

                        p Por último, los participantes socializarán los resultados y responderán las siguientes preguntas. (15 minutos):

                        br

                        ul
                            li.mb-3 ¿Cuál es la característica de su estrategia? (Compárela con la de los otros grupos) ¿Ha prevalecido el resultado de ganar/ganar en cada grupo de líderes?
                            li.mb-3 ¿Qué tipo de líder logró el acuerdo más efectivo para solucionar el problema?
                            li.mb-3 ¿Para qué tipo de líder fue más difícil lograr el acuerdo de solución al problema?
                            li.mb-3 En cuanto al tipo de líder que se ha seleccionado, ¿se sintieron cómodos al tomar este rol?
                            li ¿Ha cambiado de opinión sobre su rol, antes y después del ejercicio? (Por ejemplo, un participante identificaba su rol como líder comunitario, pero a través de este ejercicio, se dio cuenta de que tiene otras características.
                        
                        p
                            b Parte III: Estudio de casos
                        
                        br

                        p A través de las presentaciones de líderes de OVOP Colombia, se podrá tener un acercamiento al liderazgo colectivo, como un ejemplo de la iniciativa. Se debe organizar un encuentro para escuchar las experiencias de los líderes de otros municipios (testimonio en vivo o videos).

                        br

                        p A continuación, se presenta un caso de iniciativa de Villavieja y otro de Tierradentro, en los que se cuentan sus experiencias de liderazgo colectivo; así mismo, se comparten sus logros y obstáculos en el proceso de desarrollo local, además de algunos consejos y sugerencias para el desarrollo del liderazgo en su territorio.

                    .col-12.text-center

                        img.img-fluid.my-4(src="assets/images/pages/img9.svg", style="max-width: 100%")

                    .col-12

                        p
                            b Parte IV: Retroalimentación
                    
                    .col-12.text-center

                        img.img-fluid.my-4(src="assets/images/pages/img10.svg", style="max-width: 100%")
    
    .card

        .card-body.recuadro2

            .card-text

                .row.mx-0.align-items-center
                
                    .col-auto.text-center.recuadro3

                        p 2.3
                    
                    .col-10

                        p.texto2 Modulo 3.  Elaboración del proyecto para sueño colectivo

                .row.mx-0.mt-3

                    .col-12.px-0

                        p En este módulo, el facilitador explica que, en el proceso de OVOP Colombia, la comunidad comparte la visión de desarrollo como sueño colectivo. Además, se aprenden los puntos importantes para elaborar el proyecto de OVOP Colombia, de manera colectiva.

                        br

                        p
                            b Parte I: Conceptos clave
                        
                        br

                        p En la práctica de OVOP Colombia, cada comunidad desarrolla su 
                            b Sueño colectivo 
                            | (ver Guía para la construcción del sueño colectivo), el cual es una visión compartida por toda la comunidad, acerca de cómo quiere construir su territorio. Una vez la comunidad ha desarrollado su sueño colectivo, este se convierte en realidad, a través del proceso de formulación del proyecto participativo.
                        
                        br

                        p OVOP Colombia está orientado a estimular y fomentar las acciones participativas, de forma tal que desarrollen todo su potencial colectivo en pro del desarrollo de su territorio.

                        br

                        p
                            b Parte II: Taller práctico “Elaboremos un proyecto juntos para el futuro de nuestro territorio”
                        
                        br

                        p En este taller, se va a trabajar un ejercicio para elaborar un proyecto de manera participativa que podrá contribuir en la construcción del sueño colectivo de la comunidad. El objetivo de este ejercicio es fortalecer la capacidad de trabajo colectivo entre los líderes de la comunidad y sus aliados (las entidades gubernamentales).

                        br

                        p Los participantes del taller conforman varios grupos de trabajo. Si vienen de varios municipios, fórmese el grupo por municipio. Si todos los participantes vienen del mismo municipio, fórmese grupos de más o menos cinco personas. (5 minutos).

                        br

                        p.mb-4 Los facilitadores van a explicar los siguientes puntos para trabajar en la elaboración del proyecto. (10 minutos):
                    
                    .col-12.col-md-6

                        ul
                            li.mb-3
                                b Sueño colectivo: 
                                | visualizar cómo les gustaría ver su comunidad dentro de cinco años.
                            li.mb-3
                                b Objetivo: 
                                | seleccionar uno de los sueños, como el objetivo del proyecto.
                            li.mb-3
                                b Actividad: 
                                | determinar 3 actividades para lograr el objetivo.
                            li.mb-3
                                b Sub-actividad: 
                                | Dividir las actividades en sub-actividades. (Ejemplos: grupo de mujeres, campesinos, jóvenes, etc.).
                            li.mb-3
                                b Responsable: 
                                | elegir una o dos personas como responsables de cada actividad y sub-actividad; esta se hará cargo de la realización o de la gestión de dicha actividad y sub-actividad.
                            li
                                b Aliados: 
                                | identificar cuál entidad o entidades (ejemplos: misma comunidad, asociaciones, municipalidad, gobernación, etc.) dentro de su territorio, pueden prestar asesoría técnica o dar algún tipo de recurso para la ejecución de la actividad.

                    .col-12.col-md-6.text-center

                        img.img-fluid.mt-4(src="assets/images/pages/img11.svg", style="max-width: 100%")
                    
                    .col-12

                        p Cada grupo trabajará en un pliego de papel bond, llenándolo de acuerdo con el siguiente formato. (25 minutos).

                        br

                        p Socializar o compartir el resultado a los otros participantes. (20 minutos).

                    .col-12.text-center

                        img.img-fluid.my-4(src="assets/images/pages/img17.png", style="max-width: 100%")
                    
                    .col-12

                        p
                            b Parte III: Estudio de casos

                        br

                        p Los facilitadores comparten algunos proyectos que han contribuido a la construcción del sueño colectivo de otros municipios, para ampliar el conocimiento.

                        br

                        p
                            b Parte IV: Retroalimentación
                        
                    .col-12.text-center

                        img.img-fluid.my-4(src="assets/images/pages/img12.svg", style="max-width: 100%")
    
    .card

        .card-body.recuadro2

            .card-text

                .row.mx-0.align-items-center
                
                    .col-auto.text-center.recuadro3

                        p 2.4
                    
                    .col-10

                        p.texto2 Módulo 4: Fortalecimiento nuestro orgullo y confianza

                .row.mx-0.mt-3

                    .col-12.px-0

                        p En OVOP Colombia, generar el sentimiento de orgullo y confianza sobre cada pueblo es básico y para los líderes conocer las técnicas es fundamental. En este módulo, se abordan las técnicas para fortalecer nuestro orgullo y confianza y su aplicación en la práctica.

                        br

                        p
                            b Parte I: Concepto clave
                        
                        br

                        p En el módulo 4, el experto o instructor o responsable desarrollará la técnica para fortalecer el orgullo y la confianza de la comunidad.

                        br

                        p
                            b Fortalecimiento del orgullo y de la confianza de la comunidad
                        
                        br

                        p Desde el punto de vista de la participación, se pone valor agregado al producto OVOP, a través del trabajo colectivo expresado en el fortalecimiento del orgullo y de la confianza de la comunidad y la construcción de redes de solidaridad intracomunitarias o interinstitucionales.

                        br

                        p En este proceso, la participación concertada y organizada de todos los actores sociales existentes en dicho territorio, debe estar orientada al desarrollo y/o innovación de productos mediante el fortalecimiento del orgullo y la generación de confianza de la comunidad.

                        br

                        p Fortalecer la confianza, significa que:

                        br

                        ul
                            li.mb-3
                                b Redes de solidaridad: 
                                | espacio de intercambio de ideas, información entre los actores comunitarios permitiendo la transformación de sus recursos en productos.
                            li
                                b Valor agregado: 
                                | desarrollo de una estrategia colectiva sobre un producto o servicio.
                        
                        p Es preciso confirmar las palabras clave para entender el orgullo y la confianza:

                    .col-12.text-center

                        img.img-fluid.my-4(src="assets/images/pages/img13.svg", style="max-width: 100%")

                    .col-12

                        p
                            b Taller práctico “Construimos nuestro orgullo y confianza”
                        
                        br

                        p En este taller, se van a identificar los productos basados en el eslogan de OVOP Colombia: “Mi Pueblo, Mi Producto, Mi Orgullo”.

                        br

                        p Los participantes conforman grupos de trabajo. Si todos los participantes vienen del mismo municipio, el grupo puede conformarse con cinco personas. (5 minutos).

                        br

                        p Cada grupo muestra las características del municipio (la iniciativa) basado en el eslogan de OVOP “Mi Pueblo, Mi Producto, Mi Orgullo”. Se trabajará en un pliego de papel bond (20 minutos).

                        br

                        p Después, cada grupo socializará o compartirá su resultado a otros grupos. (20 minutos).
                    
                    .col-12.text-center

                        img.img-fluid.my-4(src="assets/images/pages/img14.svg", style="max-width: 100%")
                    
                    .col-12

                        p Luego de la socialización, los participantes reflexionarán sobre los siguientes puntos. (15 minutos):

                        br

                        ul
                            li.mb-3 ¿Se descubrieron nuevos productos o servicios en su comunidad?
                            li.mb-3 ¿Cuáles son los productos o servicios que pueden convertirse en el producto único de su comunidad?
                            li ¿De qué manera se debe aumentar el orgullo o la calidad de los productos OVOP?
                        
                        p
                            b Parte III: Las herramientas para fortalecer nuestro orgullo y confianza

                        br

                        p En la parte III, se presentan las siguientes herramientas para fortalecer el orgullo y la confianza comunitaria. Estas herramientas tienen efectos en las comunidades que quieren promover y fortalecer su producto OVOP seleccionado:
                    
                    .col-12.text-center

                        img.img-fluid.my-4(src="assets/images/pages/img15.svg", style="max-width: 100%")
                    
                    .col-12

                        p
                            b Parte IV: Retroalimentación
                    
                    .col-12.text-center

                        img.img-fluid.my-4(src="assets/images/pages/img16.svg", style="max-width: 100%")
    
    .card

        img.img-fluid(src="assets/images/pages/img18.png", style="max-width: 100%")

        .card-body.recuadro2

            .card-text

                .row.mx-0.align-items-center
                
                    .col-auto.text-center.recuadro3

                        p 2.5
                    
                    .col-10

                        p.texto2 Módulo 5: Construyamos buenas prácticas para el desarrollo comunitario incluyente

                .row.mx-0.mt-3

                    .col-12.px-0

                        p En el módulo 5, se abordará el concepto del ciclo de PHVA (Planificar, Hacer, Verificar, y Actuar), el cual será necesario para que la comunidad administre el Plan de Acción Comunitario.

                        br

                        p
                            b Parte I: Conceptos clave

                        br

                        p En la ejecución de OVOP Colombia, los líderes de la comunidad van a elaborar el plan de acción (ver Guía para la construcción del sueño colectivo). Una vez que la comunidad lo tenga, se aplicará el ciclo de PHVA - Planificar, Hacer, Verificar y Actuar.

                        br

                        ul
                            li.mb-3
                                b Planificar: 
                                | definir objetivos, actividades, personas responsables, aliados y duración del proyecto. Establecer acuerdos de trabajo con los aliados.
                            li.mb-3
                                b Hacer: 
                                | realizar las actividades contenidas en el Plan de Acción Comunitario Participativo. 
                            li.mb-3
                                b Verificar: 
                                | dar seguimiento al plan de acción, revisar los avances y resultados del cumplimiento de las actividades del plan de acción.
                                
                                p.mt-4 Verificar si las actividades planificadas pueden lograr el objetivo del plan de acción, de acuerdo con el tiempo y recursos planificados.

                                br

                                p En caso de que las acciones implementadas hasta el momento no hayan contribuido al logro del objetivo, será necesario ajustar la ruta o las actividades o inclusive, el mismo sueño colectivo.
                            li.mb-3
                                b Actuar: 
                                | realizar los ajustes en términos de: tiempo, recursos, contenido de las actividades, duración, etc.

                    .col-12.text-center

                        img.img-fluid.my-4(src="assets/images/pages/img19.png", style="max-width: 100%")

                    .col-12

                        p
                            b Parte II: Taller práctico “Construimos buenas prácticas para el desarrollo comunitario incluyente”
                        
                        br

                        p OVOP Colombia tiene por objetivo promover el desarrollo comunitario incluyente. En la parte II, se va a elaborar un pequeño proyecto, que puede contribuir al fortalecimiento del trabajo colectivo    -incluyendo los grupos vulnerables-, aumento de confianza de la comunidad y generar una buena práctica en ella.

                        br

                        p Se conformará un grupo de trabajo. Si los participantes vienen del mismo municipio, se dividirán en subgrupos. Si los participantes vienen de varios municipios, es mejor conformar grupos por cada municipio. (10 minutos).

                        br

                        p Cada grupo presentará la idea del proyecto y seleccionará uno para un grupo vulnerable, por ejemplo: mujeres, jóvenes, campesinos, entre otros. (10 minutos).

                        br

                        p Se trabajará en un pliego de papel bond: las actividades específicas, responsable, aliados estratégicos, recursos (técnicos/financieros) y tiempo de ejecución. (20 minutos).

                    .col-12.text-center

                        img.img-fluid.my-4(src="assets/images/pages/img20.png", style="max-width: 100%")

                    .col-12

                        p Se socializará o compartirá el resultado a otros grupos. (20 minutos).

                        br

                        p
                            b Parte III: Estudio de casos
                        
                        br

                        p Los facilitadores presentarán ejemplos de otros municipios como referencia.

                        br

                        p Por ejemplo: en el corregimiento de La Virginia, en el municipio de Calarcá, del departamento del Quindío, los líderes en su comunidad formularon un proyecto para atraer turistas, que incluyó embellecimiento de las fachadas y casas, un mercado de mujeres campesinas y establecimiento de una ruta gastronómica con platos típicos de la región.

                        br

                        p
                            b Parte IV: Retroalimentación
                        
                    .col-12.text-center

                        img.img-fluid.my-4(src="assets/images/pages/img17.svg", style="max-width: 100%")
                    
                    .col-12

                        p
                            b 5. Conclusión

                        br

                        p Esta guía ha sido formulada con base en el resultado de los talleres de capacitación de los líderes. La mayoría de los participantes están motivados para promover el desarrollo local con OVOP Colombia. Con este conocimiento aprendido, ellos se sienten con más confianza como actores principales para promover su desarrollo comunitario incluyente.

                        br

                        p Esta guía para fortalecer a los líderes debe utilizarse paralelamente con el documento de:

                        br

                        ul
                            li.mb-3 Estrategia de Desarrollo Local Incluyente OVOP Colombia.
                            li Otras guías mencionadas anteriormente.
                        
                        p Es importante que los facilitadores lean la guía para la promoción de OVOP antes de entrar al territorio.