.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p 
            strong.mr-2
                i Backcasting:
            | es un método de planificación que comienza con la definición de un futuro deseable y luego funciona hacia atrás, para identificar los recursos existentes en el territorio, que ayudarán a conectar un futuro específico con el presente.
        p
            strong.mr-2 Desarrollo endógeno:
            | es un modelo de desarrollo que busca potenciar las capacidades internas de una región o comunidad local; de modo que puedan ser utilizadas para fortalecer la sociedad y su economía, de adentro hacia afuera, para que sea sustentable y sostenible en el tiempo. Es importante señalar que en el desarrollo endógeno el aspecto económico es importante, pero no lo es más que el desarrollo integral del colectivo y del individuo en el ámbito moral, cultural, social, político y tecnológico. Esto permite convertir los recursos naturales en productos que se puedan consumir y distribuir al mundo entero.
        p
            strong.mr-2 Plan de acción comunitario:
            | es una herramienta básica de planificación participativa y comunitaria que ayuda a concretar la ruta de trabajo de la iniciativa hacia el alcance del sueño colectivo. Se basa en los recursos disponibles en territorio, no en lo que se carece; basa su lógica en procesos de autogestión y creatividad de las comunidades.
        p
            strong.mr-2 Prefectura:
            | órgano de gobierno o área territorial.