.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th Enlace del recurso

            tbody
                tr
                    td JICA. (2020). Guía Metodológica 5. Fortalecimiento de Lideres OVOP.
                    td Pdf
                    td 
                        a(href="media/documentos/Guia_5_de_fortalecimiento_de_lideres_OVOP.pdf", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Descargar
                tr
                    td JICA. (2020). Guía Metodológica 6. Elaboración del Plan de Acción Comunitario.
                    td Pdf
                    td 
                        a(href="media/documentos/Guia_6_taller_para_la_elaboracion_del_plan_de_accion_OVOP.pdf", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Descargar
                tr
                    td JICA. (2020). Brochure OVOP Colombia.
                    td Pdf
                    td 
                        a(href="media/documentos/MC_Brochure _OVOP_Colombia.pdf", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Descargar
                tr
                    td JICA. (2020). Estrategia Local de Desarrollo Local Incluyente. 
                    td Pdf
                    td 
                        a(href="media/documentos/MC_Estrategia_de_desarrollo_local_incluyente.pdf", target="_blank") <span class="fa fa-file " aria-hidden="true"></span> Descargar
                tr
                    td JICA. (2020). Caso de municipio Peor es Nada.
                    td Pdf
                    td 
                        a(href="media/documentos/MC_Caso_de_municipio_peor_es_nada.pdf", target="_blank") <span class="fa fa-file " aria-hidden="true"></span> Descargar
                tr
                    td JICA. (2020). Formato evaluación módulo 1.
                    td Pdf
                    td 
                        a(href="media/documentos/MC_Formato_evaluacion_modulo_1.pdf", target="_blank") <span class="fa fa-file " aria-hidden="true"></span> Descargar
                tr
                    td JICA. (2020). Formato evaluación módulo 2.
                    td Pdf
                    td 
                        a(href="media/documentos/MC_Formato_evaluacion_modulo_2.pdf", target="_blank") <span class="fa fa-file " aria-hidden="true"></span> Descargar
                tr
                    td JICA. (2020). Formato evaluación módulo 3.
                    td Pdf
                    td 
                        a(href="media/documentos/MC_Formato_evaluacion_modulo_3.pdf", target="_blank") <span class="fa fa-file " aria-hidden="true"></span> Descargar
                tr
                    td JICA. (2020). Formato evaluación módulo 4.
                    td Pdf
                    td 
                        a(href="media/documentos/MC_Formato_evaluacion_modulo_4.pdf", target="_blank") <span class="fa fa-file " aria-hidden="true"></span> Descargar
                tr
                    td JICA. (2020). Formato evaluación módulo 5.
                    td Pdf
                    td 
                        a(href="media/documentos/MC_Formato_evaluacion_modulo_5.pdf", target="_blank") <span class="fa fa-file " aria-hidden="true"></span> Descargar
                tr
                    td JICA. (2020). Formato plan de acción.
                    td Pdf
                    td 
                        a(href="media/documentos/MC_Formato_plan_de_accion.pdf", target="_blank") <span class="fa fa-file " aria-hidden="true"></span> Descargar
                tr
                    td DNP. (2017). Estrategia alternativa para el Desarrollo Local Incluyente.
                    td Video
                    td 
                        a(href="media/documentos/MC_Video_Estrategia_alternativa_para_el_desarrollo_local_incluyente.mp4", target="_blank") <span class="fa fa-play " aria-hidden="true"></span> Ver
                tr
                    td JICA. (2015). IRODORI.
                    td Video
                    td 
                        a(href="media/documentos/MC_Video_IRODORI.mp4", target="_blank") <span class="fa fa-play " aria-hidden="true"></span> Ver
                tr
                    td SENA. (2020). OVOP Colombia.
                    td Link
                    td 
                        a(href="https://cutt.ly/cinaXyb", target="_blank") <span class="fa fa-link" aria-hidden="true"></span> Descargar