include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Bunn, D. W. & Salo, A. A. (2013). Forecasting with scenarios. European Journal of Operational Research, 68 (3), 291-303.", "")